@use "../../styles/variables" as *;
@use "sass:color";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 220px;
  background-color: $primary-color;
  color: white;
  height: 100px;
  box-sizing: border-box;
}

// --- Lewa Strona: Grupa Logo ---
.logoGroup {
  display: flex;
  align-items: center; 
  gap: 15px;
  text-decoration: none; 
  color: white;
}
.separator {
  width: 1px;
  height: 40px;
  background-color: white;
  opacity: 0.5;
  margin: 0 1rem;
}
.logoImage {
  height: 75px;
  width: auto;
  display: block; 
}

.logoTextContainer {
  display: flex;
  flex-direction: column;
}

.logoTitle {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  line-height: 1.1;
  color:white;
}

.logoSubtitle {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  font-style: italic;
  line-height: 1.1;
}

// --- Prawa Strona: Linki Autoryzacji ---
.authLinks {
  display: flex;
  align-items: center; 
  gap: 35px;
}

.authItem {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 6px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.authIcon {
  height: 32px;
  width: 32px;
}

.authText {
  font-size: 0.8rem;
  text-align: center;
  line-height: 1;
}

// Resetowanie stylów dla przycisku wylogowania, aby wyglądał jak link
.logoutButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
