$primary-color: #344B3C;
$text-color: #333;
$border-color: #e0e0e0;

.date-picker-container {
  font-family: 'Arial', sans-serif;
  padding: 20px 20px 20px 0;

  border-radius: 8px;
  display: inline-block;
  
  margin-left: 0; 
  margin-right: auto; 


  h1 {
    color: $primary-color;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
  }
}

.date-inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: 600px) {
    flex-direction: row;
    gap: 20px;
  }
}

.date-inputs div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.date-inputs label {
  margin-bottom: 8px;
  font-weight: bold;
  color: $text-color;
  font-size: 0.95em;
}

.date-inputs input[type="date"],
.date-inputs select {
  padding: 10px 12px;
  border-radius: 5px;
  font-size: 1em;
  color: $text-color;
  cursor: pointer;

  &:focus {
    outline: none;
    border-color: $primary-color, 10%;
    box-shadow: 0 0 0 2px rgba($primary-color, 0.2);
  }
}